<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  </head>
  <body>
    <!-- header  -->
    <header class="navbar">
      <div class="nav-title">
        <!-- Logo and Title -->
        <img src="/images/logo.png" alt="Logo" class="logo" />
        <h1>Placement Portal</h1>
      </div>
      <ul class="nav-links" id="navbarLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/students/">Students</a></li>
        <li><a href="/interviews/">Interviews</a></li>
        <li><a href="/jobs/fetch-jobs">Jobs</a></li>
        <li><a href="/download-csv/">Download CSV</a></li>
        <li class="mobile-only"><a href="/profile">Profile</a></li>
        <li class="mobile-only"><a href="/employees/sign-out">Sign Out</a></li>
      </ul>
      <div class="user-profile">
        <!-- Profile Picture and Sign Out -->
        <a href="/profile"
          ><img
            src="/images/profile.jpg"
            alt="Profile Picture"
            class="profile-pic"
        /></a>
        <button class="sign-out-btn">
          <a href="/employees/sign-out">Sign Out</a>
        </button>
      </div>
      <!-- Hamburger Menu Icon -->
      <div class="hamburger" id="hamburgerIcon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </header>
  </body>

  <!-- javascripts -->
  <script>
    <% if(flash.success && flash.success.length > 0){%>
                new Noty({
                theme:'nest',
                text: '<h3><%= flash.success%></h3>',
                type:'success',
                layout:'topRight',
                timeout:3000
            }).show();
            <% } %>

            <% if(flash.error && flash.error.length > 0){%>
              new Noty({
                theme:'nest',
                text: '<%= flash.error%>',
                type:'error',
                layout:'topRight',
                timeout:3000
              }).show();
            <% } %>
             // Hamburger menu toggle
      const hamburgerIcon = document.getElementById("hamburgerIcon");
      const navbarLinks = document.getElementById("navbarLinks");

      hamburgerIcon.addEventListener("click", () => {
        navbarLinks.classList.toggle("active");
        hamburgerIcon.classList.toggle("active");
      });
  </script>
</html>
